<h1 class="unselectable" mat-dialog-title>Sign up</h1>
<mat-dialog-content #validationForm *ngIf="!isConfirmation">
    <p>
        <mat-form-field color="accent" (keyup.enter)="onConfirm()">
            <mat-label>Email</mat-label>
            <input [formControl]="emailControl" matInput placeholder="email@example.com" type="email">
            <mat-error *ngIf="emailControl.errors?.email && !emailControl.errors?.required">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailControl.errors?.required">
                Email is required
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field color="accent" (keyup.enter)="onConfirm()">
            <mat-label>Password</mat-label>
            <input #password [formControl]="passwordControl" matInput placeholder="*****" type="password">
            <mat-error *ngIf="passwordControl.errors?.required">
                Password is required
            </mat-error>
            <mat-error *ngIf="!passwordControl.errors?.required && passwordControl.errors?.minlength">
                Please enter a valid password (at least 6 symbols)
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field color="accent" (keyup.enter)="onConfirm()">
            <mat-label>Password confirm</mat-label>
            <input [formControl]="passwordConfirmControl" matInput placeholder="*****" type="password">
            <mat-error *ngIf="passwordConfirmControl.errors?.required">
                Password confirm is required
            </mat-error>
            <mat-error
                    *ngIf="!passwordConfirmControl.errors?.required && passwordConfirmControl.errors?.equalityDisrupted">
                Passwords should be equal
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field color="accent" (keyup.enter)="onConfirm()">
            <mat-label>First name</mat-label>
            <input [formControl]="firstNameControl" matInput type="text">
            <mat-error *ngIf="firstNameControl.errors?.required">
                Name is required
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field color="accent" (keyup.enter)="onConfirm()">
            <mat-label>Last name</mat-label>
            <input (change)="onSecondNameChanged($event)" matInput type="text">
        </mat-form-field>
    </p>
</mat-dialog-content>
<div mat-dialog-actions *ngIf="!isConfirmation">
    <button (click)="onClose()" mat-button>Close</button>
    <button (click)="onConfirm()" cdkFocusInitial mat-button>Ok</button>
</div>
<mat-card *ngIf="isConfirmation" [style.backgroundColor]="'darkslategrey'" class="mat-elevation-z0">
    <mat-card-content>
        <mat-progress-spinner
                color="primary"
                mode="indeterminate">
        </mat-progress-spinner>
    </mat-card-content>
</mat-card>