<h1 class="unselectable" mat-dialog-title>Log in</h1>
<mat-dialog-content>
    <p>
        <mat-form-field color="accent">
            <mat-label>Login</mat-label>
            <input [formControl]="emailControl" matInput placeholder="email@example.com" type="email">
            <mat-error *ngIf="emailControl.errors?.email && !emailControl.errors?.required">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailControl.errors?.required">
                Email is required
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field color="accent">
            <mat-label>Password</mat-label>
            <input #password [formControl]="passwordControl" matInput placeholder="*****" type="password">
            <mat-error *ngIf="passwordControl.errors?.required">
                Password is required
            </mat-error>
        </mat-form-field>
    </p>
</mat-dialog-content>
<div mat-dialog-actions>
    <button (click)="onClose()" mat-button>Close</button>
    <button (click)="onConfirm()" cdkFocusInitial mat-button>Ok</button>
</div>
