<h1 class="unselectable" mat-dialog-title>Log in</h1>
<mat-dialog-content *ngIf="!isConfirmation">
    <p>
        <mat-form-field color="accent" (keyup.enter)="onConfirm()">
            <mat-label>Login</mat-label>
            <input [formControl]="emailControl" matInput placeholder="email@example.com" type="email">
            <mat-error *ngIf="emailControl.errors?.email && !emailControl.errors?.required">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailControl.errors?.required">
                Email is required
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field color="accent" (keyup.enter)="onConfirm()">
            <mat-label>Password</mat-label>
            <input #password [formControl]="passwordControl" matInput placeholder="*****" type="password">
            <mat-error *ngIf="passwordControl.errors?.required">
                Password is required
            </mat-error>
        </mat-form-field>
    </p>
</mat-dialog-content>
<div mat-dialog-actions *ngIf="!isConfirmation">
    <button (click)="onClose()" mat-button>Close</button>
    <button (click)="onConfirm()" cdkFocusInitial mat-button>Ok</button>
</div>
<mat-card *ngIf="isConfirmation" [style.backgroundColor]="'darkslategrey'" class="mat-elevation-z0">
    <mat-card-content>
        <mat-progress-spinner
                color="primary"
                mode="indeterminate">
        </mat-progress-spinner>
    </mat-card-content>
</mat-card>